body{
  text-align: center;
  background-image: linear-gradient(skyblue,pink,white);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px 60px;
  height: 500px;
  font-size: 20px;
}
.top{
  text-shadow: 2px 3px 4px aqua;
}
.card1{
  width: 400px;
  height: 260px;
  border: 1px soild grey;
  margin: auto;
  padding: 15px 10px;
}
ul{
  text-align: left;
}
label{
  font-weight: bold;
}

input{
  width: 200px;
  height: 30px;
  border: 1px solid lightblue;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
}
button{
  width: 200px;
  height: 40px;
  border: 2px solid;
  font-size: 14px;
  background-color: rgb(169,200,207);
}
button:hover{
  background-color: red;
}
.card2{
width: 90%;
border: 1px solid grey;
margin: 30px 30px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 10px;
background-color: pink;
}
.card3{
  margin:10px 20px;
  width:450px;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 5px;
  background-color: skyblue;
}

button,.btn2{
  border-radius: 40px;
}













































